version: '3.9'
networks:
  traefik-net:
    external: true
services:
  study-align-model-t5:
    container_name: study-align-model-t5
    image: study-align-model-t5
    build:
      context: ./code
      dockerfile: Dockerfile.prod
    working_dir: /app
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [ gpu ]
    ports:
      - "8008:80"
    networks:
      - traefik-net
    command: [ "uvicorn", "main:app", "--host", "0.0.0.0", "--debug", "--port", "80", "--reload-dir", "/app" ]
    volumes:
      - ./code/app:/app
    labels:
      - "traefik.enable=true"
      - "traefik.port=8088" # port of the traefik instance
      - "traefik.docker.network=traefik-net" # traefik network
      - "traefik.http.routers.study-align-model-t5.rule=PathPrefix(`/t5`)" # URL path to your backend, replace YOUR-BACKEND with an unique string to name your router
      - "traefik.http.middlewares.strip-t5.prefixes=/t5" # declare strip prefix middleware from above, replace strip-YOUR-PATH with an unique name
      - "traefik.http.routers.study-align-model-t5.middlewares=strip-t5@docker"
